* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F2F3F9;
    margin: 0.5em;
    font-size: 0.8em;
    color: #2D2D2D;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(74px, 1fr));
    place-items: center center;
    gap: 1em;

}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.icon-wrap {
    width: 74px;
    height: 74px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(84, 84, 84, 0.2), -2px -2px 5px rgba(255, 255, 255, 1);
    margin: 0 0 0.5em 0;
    overflow: hidden;
}

.icon-place, .btn-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle, .compass-container{
    background-color: #F2F3F9;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 1px rgba(84, 84, 84, 0.2) inset;

}

.circle::after {
    content: "";
    position: absolute;
    width: 85%;
    height: 85%;
    box-shadow: 0px 0px 5px 2px rgba(84, 84, 84, 0.2);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.clock, .compass {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.clock::after {
    content: "";
    position: absolute;
    border-radius: 5px;
    width: 6px;
    height: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3263C5;
    z-index: 4;
}

.minutes {
    position: absolute;
    width: 5px;
    height: 35%;
    border-radius: 5px;
    background-color: #3263C5;
    left: 45.72%;
    top: 15%;
    transform: rotate(deg);
    animation: min-rotate 60s linear infinite;
    transform-origin: 50% 100%;
    z-index: 2;
}

.hour {
    position: absolute;
    display: block;
    width: 5px;
    height: 25%;
    border-radius: 5px;
    background-color: #3263C5;
    left: 45.72%;
    top: 25%;
    animation: min-rotate 3600s linear infinite;
    transform-origin: 50% 100%;
    z-index: 1;
}


@keyframes min-rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }

}

.calender {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.day {
    background-color: #DE6C6C;
    color: #F2F3F9;
    width: 100%;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.date {
    font-size: 3em;
    font-weight: bold;
    color: #DE6C6C;
    padding-bottom: 0.1em;
}

.music, 
.maps, 
.weather, 
.notepad, 
.mail, 
.setting, 
.gallery, 
.reminder, 
.message, 
.contact, 
.calculator,
.btn-img {
    display: block;
    position: relative;
}

.music {
    left: -0.5px;
}

.maps {
    top: -5px;
}

.weather {
    top: -1px;
}

.notepad {
    left: 5px;
}

.compasstick, .comp-pin {
    position: absolute;
}

.comp-pin {
    animation: comp 3s ease infinite;
}

.reminder {
    top: -1px;
}

.message {
    top: 3px;
}

.contact {
    left: -1px;
}

@keyframes comp {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(-90deg);
    }
    75% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.compass-container {
    width: 50px;
    height: 50px;
}

.compass-container::after {
    content: "";
    position: absolute;
    width: 85%;
    height: 85%;
    box-shadow: 0px 0px 5px 2px rgba(84, 84, 84, 0.2);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.notif {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
    font-size: 0.85em;
}

.mail-notif {
    position: absolute;
    width: 65px;
    height: 50px;
}

.button {
    width: 35px;
    height: 35px;
    border-radius: 50% ;
    margin: 0 0 1em 0;
    border: none;
    background: #F2F3F9;
    box-shadow: 2px 2px 5px rgba(84, 84, 84, 0.2), -2px -2px 5px rgba(255, 255, 255, 1);
}

header {
    display: flex;
    justify-content: flex-end;
}

.btn-img {
    transform-origin: center;
    transition: 0.3s all ease;
}

.btn-wrap:hover > a > .btn-img {
    transform: rotateZ(180deg);

}